{% extends "./base.html" %}

{% load static %}

{% block title %} - Server Configuration of {{server.cpu}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-9 col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2><a href="{% url 'servers' %}"><strong>List of Servers</strong></a></h2>
          </div>
          <div class="panel-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>CPU:</strong> {{server.cpu}}</li>
                <li class="list-group-item"><strong>RAM:</strong> {{server.ram}} GB</li>
                <li class="list-group-item"><strong>Storage:</strong> {{server.storage}} GB</li>
                <li class="list-group-item"><strong>Private IP:</strong> {{server.private_ip}}</li>
                <li class="list-group-item"><strong>Public IP:</strong> {{server.public_ip}}</li>
                <li class="list-group-item"><strong>Type:</strong> {{server.type}}</li>
                <li class="list-group-item"><strong>Platform hosted On:</strong> {{server.platform_hosted}}</li>
                <li class="list-group-item"><strong>Owner:</strong> {{server.owner}}</li>
                <li class="list-group-item"><strong>Storage Type:</strong> {{server.storage_type}}</li>
                <li class="list-group-item"><strong>Is Online:</strong> {{server.online}}</li>
            </ul>
          </div>
            {% if perms.credentials.change_server %}
                <a href="{% url 'edit_server' server.id %}"><button type="button" class="btn btn-sm mr-1 mb-1 mt-1 button btn-primary">Edit</button></a>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-9 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><strong>List of Projects on {{server.cpu}}</strong></h2>
      </div>
      <div class="panel-body">
        <table class="table bootstrap-datatable countries">
          <thead>
            <tr>
              <th>S.N.</th>
              <th>Projects</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
          </thead>
          <tbody>
          {% if project_list %}
            {% for project in project_list %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{% if perms.credentials.add_project %}
                        <a href="{% url 'project_detail' project.id %}">{{ project.name }}</a>
                    {% endif %}
                </td>
                <td>{{ project.start_date }}</td>
                <td>{{ project.end_date }}</td>
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>N/A</td>
              <td>No servers are available.</td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
      {% if perms.credentials.change_server %}
        <a href="{% url 'add_project_on_server' server.id %}"><button type="button" class="btn btn-sm mr-1 mb-1 mt-1 button btn-primary">Add new Project on {{server.cpu}}</button></a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}