{% extends "./base.html" %}

{% load static %}

{% block title %} - Project Details{% endblock %}

{% block content %}
<!--<table style="width:100%">-->
  <!--<tr>-->
    <!--<th>Name</th>-->
    <!--<th>Owner Client</th>-->
    <!--<th>Start Date</th>-->
    <!--<th>End Date</th>-->
    <!--<th>Server</th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>{{project.name}}</td>-->
    <!--<td>{{project.owner_client}}</td>-->
    <!--<td>{{project.start_date}}</td>-->
    <!--<td>{{project.end_date}}</td>-->
    <!--<td>{{project.server}}</td>-->
  <!--</tr>-->
<!--</table>-->

<ul>
  <li>Project Name: {{project.name}}</li>
  <li>Owner Client: {{project.owner_client}}</li>
  <li>Start Date: {{project.start_date}}</li>
  <li>End Date: {{project.end_date}}</li>
  <li>Server: <a href="{% url 'detail' project.server.id %}">{{ project.server }}</a></li>

</ul>
{% if perms.credentials.change_server %}
  <a href="{% url 'edit_project' project.id %}"><button type="button" class="btn btn-sm mr-1 mb-1 mt-1 button btn-primary">Edit</button></a><br>
{% endif %}
{% if perms.credentials.add_project %}
  <a href="{% url 'add_project' %}"><button type="button" class="btn btn-sm mr-1 mb-1 mt-1 button btn-primary">Add new Project</button></a>
{% endif %}
{% endblock %}