{% extends "./base.html" %}

{% load static %}

{% block title %} - List of Servers{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-lg-9 col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2><a href="{% url 'projects' %}"><strong>List of Projects</strong></a></h2>
          </div>
          <div class="panel-body">
            <table class="table bootstrap-datatable countries">
              <thead>
                <tr>
                  <th>S.N.</th>
                  <th>Projects</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                </tr>
              </thead>
              <tbody>
              {% if project_list %}
                {% for project in project_list %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{% if perms.credentials.add_project %}
                                <a href="{% url 'project_detail' project.id %}">{{ project.name }}</a>
                            {% else %}
                                {{ project.name }}
                            {% endif %}
                      <!--<a href="{% url 'project_detail' project.id %}">{{ project.name }}</a>-->
                    </td>
                    <td>{{ project.start_date }}</td>
                    <td>{{ project.end_date }}</td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td>N/A</td>
                  <td>No servers are available.</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
          {% if perms.credentials.add_project %}
            <a href="{% url 'add_project' %}"><button type="button" class="btn btn-sm mr-1 mb-1 mt-1 button btn-primary">Add new Project</button></a>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}


